<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>QSAR SSRIs</title>
</head>
<body>
    <header id="header">
        <a href="#" class="logo"><span>ORION</span> LAB</a>
        <div class="menuToggle" onclick="toggleMenu()">
        </div>   

        <ul class="navigation">
            <!-- <li><a href="#banner" onclick="toggleMenu()">Home</a></li> -->
            <!-- <li><a href="#testimonials" onclick="toggleMenu()">Directors</a></li> -->
            <li><a href="#about" onclick="toggleMenu()" class="active">About</a></li>
            <li><a href="/ssri" onclick="toggleMenu()">SSRIs</a></li>
            <!-- <li><a href="#contact" id="myContact" onclick="showDialog()">Contact</a></li> -->
        </ul>
    </header>


    <div class="container">

        <div class="sidebar">
            <form  action="/" method="POST" class="contactForm" id="contact-form" enctype=multipart/form-data>
                <!-- stage one -->
                <!-- <p class="stage-text">1</p>  -->
                <!-- <p class="stage-text">2</p> -->
                
                <div class="inputBox">
                    <input type="text" name="chem_id" placeholder="Input 'target_chembl_id' " id="input-chem_id" />
                    <input type="submit" value="Search" name="search" />
                </div>

                <p class="nav-desc">
                    Upload files containing canonical smiles and molecular id in csv, xls or xlsx file formats only.
                    200mb is the amximum file size.
                     
                </p>
                {% with messages = get_flashed_messages() %} {% if messages %} {% for
                    message in messages %} <p class="flash-messages"> {{message}} </p> {% endfor %} {% endif %} {% endwith
                    %}
                <div class="inputBox">
                    <input type=file name=file>
                    <input type="submit" value="Upload" name="upload_file" id="uploadbtn">
                </div>
                
                <!-- <div class="inputBox">
                    <a href="/download-files/predicted_outcome.csv" target="blank" >
                        <button class="btn" >Download result</button>
                    </a> -->
                    <!-- ame="download" type="submit" value = "Download file" 
        
                </div> -->
            

                <div class="select-box">
                    <select name="select-padel-type" id="padel-type">
                      <option selected disabled value="">Select Padel desc. type </option>
                      <option value="AtomPairs2DFingerprintCount">AtomPairs2DFingerprintCount</option>
                      <option value="AtomPairs2DFingerprinter">AtomPairs2DFingerprinter</option>
                      <option value="EStateFingerprinter">EStateFingerprinter</option>
                      <option value="ExtendedFingerprinter">ExtendedFingerprinter</option>
                      <option value="Fingerprinter">Fingerprinter</option>
                      <option value="GraphOnlyFingerprinter">GraphOnlyFingerprinter</option>
                      <option value="KlekotaRothFingerprintCount">KlekotaRothFingerprintCount</option>
                      <option value="KlekotaRothFingerprinter">KlekotaRothFingerprinter</option>
                      <option value="MACCSFingerprinter">MACCSFingerprinter</option>
                      <option value="PubchemFingerprinter">PubchemFingerprinter</option>
                      <option value="SubstructureFingerprintCount">SubstructureFingerprintCount</option>
                      <option value="SubstructureFingerprinter">SubstructureFingerprintert</option>
                    </select>
                </div>

                <div class="inputBox">
                    <input id="predict-btn" type="submit" value="Predict" name="predict" />
                </div>
                                       
            </form> 

        </div>

        <div class="main-container">
            <p class="descripption">
                <strong>Project Description:</strong> A LinearRegression model was built to predict the inhibitory Bioactivity
                of Selective Serotonin Inhibitors (SSRI). PADEL DESCRIPTOR was used to compute the Quantitative Structure Activity
                Relationship (QSAR) of SSR Inhibitors. This web tool also compares the results generated by the 12 PADEL molecular fingerprints.
                <br><strong>NB</strong> <i>Enter <strong>CHEMBL2028</strong> in the Input 'target_chembl_id' search box.</i>
                
                </p> 

            </p>
            <p class="title">QSAR MODEL TO  PREDICT THE BIOACTIVITY OF SELECTIVE SEROTONIN INHIBITORS</p>

                <section id="about">
                    {% block bodyone %}
                    <div class="stagediv"> 
                        <p class="sub-title">IC50 Standard Type Based on the Inhibitor/Molecule Id</p>  <br>
                        <p class="nrows">{{ nfrows }}</p>
                        {{ squery | safe }}  <br><br>
                        <p class="nrows">{{ nlrows }}</p>
                        {{ squery_tail | safe }} <br>
                        {{ squery_shape }}
                    </div>
    
                    <div class="stagediv"> 
                        <p class="sub-title">IC50 Standard Type Based of the Inhibitor/Molecule Id</p>  <br>
                        <p class="nrows">{{ nfrows }}</p>
                        {{ starget | safe }}  <br><br>
                        <p class="nrows">{{ nlrows }}</p>
                        {{ starget_tail | safe }} <br>
                        {{ starget_shape }}
                    </div>
    
                    <div class="stagediv">
                        <p class="sub-title">Bioactivity of Serotonin Inhibitors against Selected Target</p>  <br>
                        <p class="nrows">{{ nfrows }}</p>
                        {{ starget | safe }}  <br><br>
                        <p class="nrows">{{ nlrows }}</p>
                        {{ starget_tail | safe }} <br>
                        {{  starget_shape }}
                    </div>
    
                    <div class="stagediv">
                        <p class="sub-title">Bioactivity of Serotonin against Targets</p>  <br>
                        <p class="nrows">{{ nfrows }}</p>
                        {{ pone | safe }}  <br><br>
                        <p class="nrows">{{ nlrows }}</p>
                        {{ pone_tail | safe }} <br>
                        {{ pone_shape }}
                    </div>
    
                    <div class="stagediv">
                        <p class="sub-title">Lipinski Descriptor to Predict the ADME/T Property of the Selected Molecule</p>  <br>
                        <b>Christopher Lpinski descriptor </b> is used to predict the ADME Pharmokinetic properties of molecules or the druglikeness of molecules. The lipinski rule can be used to determine the following chemical properties:
                        <li> Molecular weight < 500 Dalton </li>
                        <li> Octanol-water partition coefficient (LogP) < 5 </li>
                        <li> Hydrogen bond donors < 5 </li>
                        <li> Hydrogen bond acceptors < 10 </li>
                        <p class="nrows">{{ nfrows }}</p>
                        {{ ptwo | safe }}  <br><br>
                        <p class="nrows">{{ nlrows }}</p>
                        {{ ptwo_tail | safe }} <br>
                        {{  ptwo_shape }}
                    </div>
                    {% endblock %}
                    
                </section>

        </div>
        
    </div>
   

<footer>
    <div class="column1">
        <p>Developed by EphphathaGC (2021)</p>
        <!-- <p>2021</p> -->
        <!-- &copy; -->
        <p>ephphathagc44@gmail.com</p>
    </div>
    <div class="column2">
        <p> <i>Inspired by</i></p>
        <a href="https://github.com/dataprofessor"> Chanin Nantasenamat (dataprofessor)</a>
    </div>
   
</footer>
    
</body> 
<script src="../static/js/index.js"></script>
</html>